<div id="thediv">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 offset-md-3">
      <div id="iosBlurBg">
        <div id="whiteBg"></div>
      </div>
      <div id="bottomEnter"></div>
      <div id="bottomBlurBg"></div>
      <!-- Login Form -->
      <div class="loginForm">
        <div class="title">
          <p>LOG INTO<br><span>PORTAL</span></p>
          <hr>
          <hr class="short">
        </div>
        <form (ngSubmit)="onSubmit($event)">
          <div class="col-3">
            <input class="effect-2" type="text" placeholder="Login...">
            <span class="focus-border"></span>

            <input class="effect-2" type="password" placeholder="Password...">
            <span class="focus-border"></span>
          </div>

          <div class="forget">
            <button class="btn btn-secondary btn-sm">FORGOT PASSWORD?</button>
          </div>

        </form>
      </div>
      <a [routerLink]="['/home']">
        <div class="enterButton">
          <i class="fa fa-lock fa-2x text-white"></i><br>
          <span class="enterText text-white">Enter</span>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
