<div id="thediv">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 offset-md-3">
      <div id="iosBlurBg">
        <div id="whiteBg"></div>
      </div>
      <div id="bottomEnter"></div>
      <div id="bottomBlurBg"></div>
      <!-- Login Form -->
      <div class="loginForm">
        <div class="title">
          <p>LOG INTO<br><span>PORTAL</span></p>
          <hr>
          <hr class="short">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #documentEditForm="ngForm" (keydown)="onKeyPress($event)">
          <div class="form-group col-3">
            <input class="effect-2" type="text" placeholder="Login..." formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <span class="focus-border"></span>
            <input class="effect-2" type="password" placeholder="Password..." formControlName="password" tile="sb" data-toggle="tooltip" data-placement="top" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

            <span class="focus-border"></span>
          </div>

          <div class="forget">
            <button class="btn btn-secondary btn-sm" (click) = "forget($event)">FORGOT PASSWORD?</button>
          </div>


          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          <div *ngIf="submitted && f.username.errors" class="alert alert-danger">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </form>
      </div>
      <a (click)="documentEditForm.ngSubmit.emit()" class="btnSubmit">
        <div class="form-group enterButton">
          <i class="fa fa-lock fa-2x text-white"></i><br>
          <span class="enterText text-white">Enter</span>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
