<!--<div class="hoja">{{message}}</div>-->
<div class="hoja">
  <ng-container *ngIf="!message?.isImg; else elseBlock">{{message?.text}}</ng-container>
<ng-template #elseBlock><img [src]="message.img" width="200"></ng-template>
</div>
<!--<div class="card text-white bg-info mb-3" style="max-width: 18rem;">-->
  <!--<div class="card-header">About</div>-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">About Portal Application</h5>-->
    <!--<p class="card-text">-->
      <!--This is a simple angular based Portal app.-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->

