<div class="profile-content mx-1 box" style="width: 15rem;" appHover>
  <div *ngIf="isNew(titel.create_date)" class="ribbon ribbon-top-left"><span>NEW</span></div>
  <div class="card-body p-2">
    <div class="d-flex justify-content-end">
      <ngb-rating [(rate)]="titel.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
    </div>
    <img [src]="titel.thumb" onError="this.src='assets/no-image.jpg'" class="card-img-top" alt="...">
    <h5 class="card-title">{{titel.name }}</h5>
    <h6 class="card-subtitle mb-1 text-muted gamecat">{{titel.category}}</h6>
    <p class="card-text">{{titel.description | strip:320}}</p>
    <div class="d-flex justify-content-between">
    <a href="{{titel.youtube}}" class="card-link">Video</a>
    <a href="{{titel.url}}" class="card-link">URL</a>
    </div>
  </div>
</div>
