.profile-content{box-shadow:1px 1px 10px rgba(0,0,0,0.3);}
/* Profile Content */
.profile-content {
  padding: 12px;
  background: #fff;
  min-height: 250px;
  margin-bottom:24px;
}

.gamecat {
  background: #efefef;
  padding: 2px;
  box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}

.card-text {
  font-size: 0.8rem;
}

.hovered {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .5s all;
  z-index: 10;
}








/* ribbon corner : start */

@import url(https://fonts.googleapis.com/css?family=Lato:700);
//body {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  min-height: 100vh;
//  background: #f0f0f0;
//}

.box {
  position: relative;
  z-index: 10;
}

/* common */
.ribbon {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 11px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -35px;
  top: 30px;
  transform: rotate(-45deg);
}


/* ribbon corner : end */

a {
  color: black;
  text-decoration: none !important;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover
{
  color: black;
  text-decoration:none !important;
  cursor:pointer;
}

.my-link:hover {
  font-weight: bold;
  transform: rotate(-10deg);
  cursor: pointer;
}


//.rotate-link:hover {
//  display: inline-block;
//  font-weight: bold;
//  animation: roll 3s infinite;
//  transform: rotate(30deg);
//  opacity: .7;
//}
//
//
//@keyframes roll {
//  0% {
//    transform: rotate(0);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}
