<div class="jumbotron">
  <h4>User '<b>{{profileForm.value.login}}</b>' settings/info page.</h4>
  <hr/>
  <div class="container">
    <div class="row d-flex flex-row">
      <div class="d-flex justify-content-center col-12">
    <form (ngSubmit)="submitForm()" [formGroup]="profileForm" #documentEditForm="ngForm" class="col-9">
      <div class="form-group">
      <label for="welcomeTxt">Welcome text</label>
      <textarea class="form-control" id="welcomeTxt" rows="4" formControlName="text"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="inputLogin">Login</label>
          <input class="form-control" id="inputLogin" placeholder="Login" type="login" formControlName="login" readonly>
        </div>
        <div class="form-group col-6">
          <label for="inputEmail">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input class="form-control" id="inputEmail" placeholder="Email" type="email" formControlName="email" readonly>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6"></div>
        <div class="form-group col-6">
          <div class="form-check">
            <input class="form-check-input" id="verified" type="checkbox" formControlName="verified" disabled>
            <label class="form-check-label" for="verified">Verified email</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="firstName">First name</label>
          <input class="form-control" id="firstName" placeholder="firstName" type="firstName" formControlName="firstName" readonly>
        </div>
        <div class="form-group col-6">
          <label for="secondName">Second name</label>
          <input class="form-control" id="secondName" placeholder="secondName" type="secondName" formControlName="secondName" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="issuer">Token Issuer</label>
          <input class="form-control" id="issuer" placeholder="Issuer" type="issuer" formControlName="issuer" readonly>
        </div>
        <div class="form-group col-6">
          <label for="party">Authorized party</label>
          <input class="form-control" id="party" placeholder="Authorized party" type="party" formControlName="party" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">User roles</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="roles" [value]="profileForm.value.roles | nl2br" readonly></textarea>
      </div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" title="User token">
          <ng-template ngbPanelContent>
            <textarea class="form-control small" id="jwtToken" rows="12" formControlName="token" readonly></textarea>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <!--<div class="form-group">-->
        <!--<label for="jwtToken">JWT Token</label>-->
        <!--<textarea class="form-control small" id="jwtToken" rows="12" formControlName="token" readonly></textarea>-->
      <!--</div>-->
      <button class="btn btn-primary btn3d my-4" type="submit" [disabled]="profileForm.invalid || !dirty" (click)="documentEditForm.ngSubmit.emit()" >Submit</button>
    </form>
  </div>
</div>
</div>
</div>
